<div id="sb-site">
    <div class="clearfix">
        <div class="container noPadding-middle ">

            <!--<div class="row">-->
            <div class="col-lg-12 col-md-8 col-md-push-4 col-lg-push-0 noPadding-desktop noPadding-middle noPadding-small leftPadding">
                <div class="menuBlocks clearfix">
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                         <a href="#" class="topMenuLink">
                            Find Businesses
                            <span class="menuDivider">|</span>
                        </a>
                    </div>
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                        <a href="#" class="topMenuLink">
                            Book Online
                            <span class="menuDivider">|</span>
                        </a>
                    </div>
                    <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                        <a href="#" class="topMenuLink" >
                            Share Referrals
                        </a>
                    </div>
                </div>
                <div class="searchBlocks clearfix">
                  <%= form_tag(search_url, method:'get', class:'form-horizontal' ) do %>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 noPadding-desktop noPadding-middle noPadding-small searchInputWrapper">
                        <%= text_field_tag :key, nil,:class => 'dayreel-input', :placeholder => 'What are you looking for? Hair, Lawn care, Cleaners...'%>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 noPadding-desktop searchOrangeBlock">
                        <div class="whiteTriangle  pull-left hidden-xs"></div>
                        <a href="javascript:void(0);" class="pull-left searchLink">Kansas City?</a>
                        <%= button_tag 'button', :type => 'submit', :class => 'searchBtn pull-right'%>
                      </div>
                  <% end %>
                </div>
                <div class="videoBlocks clearfix">
                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 noPadding-desktop noPadding-small">
                        <div class="videoWrapper">
                            <div class="howItWorks">How it works</div>
                            <%= image_tag "videoThumb.png", alt: "" %>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 noPadding-desktop noPadding-small">
                        <ul class="homeList">
                            <li class="homeList-li">
                                <span class="homeList-round pull-left"></span>
                                <div class="pull-left homeList-text">
                                    <div class="homeList-bigText">Visit any online business or search DayReel. </div>
                                    <div class="homeList-smallText">Find your favorite business? Click your Reel (wheel logo) button.</div>
                                </div>
                            </li>
                            <li class="homeList-li">
                                <span class="homeList-round pull-left"></span>
                                <div class="pull-left homeList-text">
                                    <div class="homeList-bigText">Clicking the Reel (wheel logo) button saves</div>
                                    <div class="homeList-smallText">the business to My Portfolio.</div>
                                </div>
                            </li>
                            <li class="homeList-li">
                                <span class="homeList-round pull-left"></span>
                                <div class="pull-left homeList-text">
                                    <div class="homeList-bigText">Collect all of your favorite businesses in one location. </div>
                                    <div class="homeList-smallText">You can organize them, share them, and book online.</div>
                                </div>
                            </li>
                        </ul>
                      <a href="ex.crx" class="btnInstall btn">Install Reel Button</a>
                    </div>
                </div>
            </div>
            <div class=" col-lg-12 col-md-4 col-md-pull-8 col-lg-pull-0 portfolio-blocks">
                <div class="portfolio-header" >
                    Start Building Your Personal Portfolio!
                </div>
                <div class="portfolio-item-slide clearfix" >
                    <div class="col-custom col-sm-6  portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Donna</span>
                                <span class="portfolio-item donna"></span>    
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper"> 
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Home</span>
                                <span class="portfolio-item home"></span> 
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Ethan</span>
                                <span class="portfolio-item ethan"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Grant</span>
                                <span class="portfolio-item grant"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Lance</span>
                                <span class="portfolio-item lance"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Riley</span>
                                <span class="portfolio-item riley"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-custom col-sm-6 portfolio-item-wrapper">
                        <div class="col-portfolio-item">
                            <a href="#">
                                <span class="portfolio-name">Car</span>
                                <span class="portfolio-item car"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="push"></div>
    