/* 
    Created at : May 7, 2014, 6:36:41 PM
    Author     : 
*/
@font-face {
    font-family: 'corbertitalic';
    src: url('fonts/corbert-italic-webfont.eot');
    src: url('fonts/corbert-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/corbert-italic-webfont.woff') format('woff'),
        url('fonts/corbert-italic-webfont.ttf') format('truetype'),
        url('fonts/corbert-italic-webfont.svg#corbertitalic') format('svg');
    font-weight: normal;
    font-style: normal;}


@font-face {
    font-family: 'corbertregular';
    src: url('fonts/corbert-regular-webfont.eot');
    src: url('fonts/corbert-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/corbert-regular-webfont.woff') format('woff'),
        url('fonts/corbert-regular-webfont.ttf') format('truetype'),
        url('fonts/corbert-regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;}

html{
    height: 100%;}

body{
    font-family: 'corbertregular';
    color: #444446;
    font-size: 14px;
    background: url('img/bgSite.png') 0 0 repeat;
    height: 100%;
    position: relative;}

#sb-site {
    height: auto !important;
    margin: 0 auto;
    padding-top: 110px;}

.col-custom{
    width: auto;
    padding: 0;}

span.orange-info {
    padding: 0px 10px;
    margin-top: 3px;
    font-size: 13px !important;
    background-color: #f5812c;}
/**
 *  placeholder customization
 */
::-webkit-input-placeholder {
    text-align: left;
    font-size: 14px;
    line-height:18px;
    color: #cccccc;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: left;
    font-size: 12px;
    color: #cccccc;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: left;
    font-size: 12px;
    color: #cccccc;
}

:-ms-input-placeholder {  
    text-align: left;
    font-size: 12px;
    color: #cccccc;
}
/**
 *  ================================
 */

.overlay{
    width: 100%;
    height: 100%; 
    background: url(img/bg.png) repeat; 
    z-index: 9000; 
    position: fixed;
    top: 0;
    left: 0;
}
.overlay .closeOverlayLink, .openOverlayLink{
    margin:47px 0 0 320px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.openOverlayLink{
    margin: 38px 0 0 -20px;
}
.closeOverlay{
    text-transform: uppercase;
    color: #444446;
    font-size: 20px;
    margin: 0 0 0 5px;
}


/**
 *  Left side bar
 */
.slidebarMenu {
    margin: 75px 0 0 0px;
    -webkit-padding-start: 0;
    width: 100%;
}
.slidebarMenu .sidebar-li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 0 30px;
    height: 50px;
    line-height: 50px;
}
.slidebarMenu .sidebar-li .sidebar-link{
    display: inline-block;
    overflow: hidden;
    color: #444446;
    text-decoration: none;
}
.slidebarMenu .sidebar-li .sidebar-link.active a span.sidebar-icon{
    background-position-x: -25px;
}
.slidebarMenu .sidebar-li .sidebar-link:hover {
    color: #333336;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-icon{
    width: 24px;
    height: 30px;
    display: block;
    background: url(img/menuIcons.png) 0 0 no-repeat;
    margin: 10px 0 0 0;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-icon.active {
    background-position-x: -25px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconHome{
    background-position: 0 0;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconHowItWorks{
    background-position-y: -50px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconInstall{
    background-position-y: -100px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconFind{
    background-position-y: -150px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconSign{
    background-position-y: -200px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-iconContactUs{
    background-position-y: -250px;
}
.slidebarMenu .sidebar-li .sidebar-link .sidebar-text{
    margin: 0 0 0 20px;
}


/*navbar*/
.navbar-dayreel{
    height: 110px;
    background: #fff;
    opacity: 0.9;
    border-bottom: 2px solid #e0e0e0;
}
.navbar-dayreel .logoHref{
    margin: 10px 0 0 0;
    display: inline-block;
}
.signupLink, .signupLink:hover, .signupLink:visited,
.signupLink:active, .signupLink:focus{
    color: #444446;
    font-size: 20px;
    display: inline-block;
    float: right;
}
.navbar-dayreel .signup-divider{
    margin: 0 7px;
}

.portfolio-header {
    font-size: 24px;
    margin: 26px 0 10px 0;
}
.portfolio-item-slide {
    width: 100%;
    background: #444446;
    margin: 0 auto 20px auto;
    padding: 20px 10px 0;
}
.portfolio-item-slide ul {
    padding: 0;
    margin: 0;
}
.col-portfolio-item{
    background-color: #ffffff;
    margin: 0 10px 20px;
    padding: 10px 20px 20px;
}
.col-portfolio-item a{
    color: #444446;
}
.col-portfolio-item:hover  a{
    color: #f5812c;
}
.portfolio-name {
    font-size: 18px;
    text-align: center;
    height: 30px;
    padding: 0 0 9px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin: 0 0 3px 0;
}
.col-portfolio-item:hover .portfolio-name {
    border-bottom: 1px solid #f5812c;
}

.donna {
    background-position-x: 14px !important;
}
.home {
    background-position-x: -116px !important;
}
.ethan {
    background-position-x: -246px !important;
}
.grant {
    background-position-x: -380px !important;
}
.lance {
    background-position-x: -511px !important;
}
.riley {
    background-position-x: -636px !important;
}
.car {
    background-position-x: -785px !important;
} 
.portfolio-item {
    width: 82px;
    height: 54px;
    display: block;
    margin: 0 auto;
    background: url(img/sliderIcons.png);
    background-position-y: 0;
    background-repeat: no-repeat;
}
.col-portfolio-item:hover .portfolio-item {
    background-position-y: -54px;
}
#footer {
    min-height: 105px;
    background: #444446;
}
#footer .noPadding-middle {
    padding-top: 32px;
}
#footer ul{
    -webkit-padding-start: 0;
    margin-left: -20px;
    list-style: none;
}

.top-link {
    width: 100%;
    height: 20px;
    font-size: 13px;
}

.top-link li {
    margin: 0 30px 0 0;
    float: left;
}
.top-link li a, .top-link li a:hover {
    color: #f5812c;
    text-decoration: none;
    font-family: 'corbertregular';
    text-transform: uppercase;
    font-weight: bold;
}
.bottom-link {
    font-size: 11px;
    font-weight: bold;
}
.bottom-link li {
    margin: 0 10px 0 0;
    float: left;
    color: #d0d0d1;
}
.bottom-link li a,
.bottom-link li a:hover{
    color: #d0d0d1;
    text-decoration: none;
}

.social-link {
    list-style: none;
    float: right;
}
.social-link li {
    float: left;
    margin: 0px 0 0 10px;   
    display: inline-block;
}
.social-icon {
    background: url(img/social-link.png);
    background-repeat: no-repeat;
    background-position-y: 0;
    width: 28px;
    height: 28px;
    display: inline-block;
}
.social-icon:hover {
    background-position-y: -30px;
}
#twitter {
    background-position-x: 0;
}
#facebook {
    background-position-x: -36px;
}
#google {
    background-position-x: -72px;
}
#youtube {
    background-position-x: -108px;
}


.menuBlocks {
    margin: 20px 0 23px 0;
}
.topMenuLink, .topMenuLink:hover{
    font-size: 24px;
    color: #444446;
    height: 24px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-decoration: none;
}
.menuBlocks .menuDivider{
    margin: 0 0 -3px 5px;
}

.search-menuBlocks {
    margin: 0 0 35px 0;
}
.search-menuBlocks .search-topMenuLink, .search-topMenuLink:hover{
    font-size: 16px;
    color: #444446;
    height: 24px;
    display: inline-block;
    margin: 0 10px 0 0;
    text-decoration: none;
}
.search-menuBlocks .search-menuDivider{
    margin: 0 10px 0 0;
    display: inline-block;
    color: #f59a56;
    font-size: 16px;
}

.inforBlocks {
    padding: 10px 15px 0 15px;
    background-color: #ffffff;
}
.inforBlocks#paginationBlocks {
    padding-bottom: 10px;
    margin-top: 30px;
}
.inforBlocks#paginationBlocks .pageCountBlocks {
    padding-top: 4px;
    float: left;
}
.inforBlocks#paginationBlocks .pageCountBlocks p {
    margin: 0;
    padding: 0;
}
.inforBlocks#paginationBlocks .pagination {
    margin: 0;
    float: right;
}
.inforBlocks#paginationBlocks .pagination li a {
    font-family: 'corbertregular';
    color: #444446;
    font-size: 14px;
    padding: 2px 10px;
    border: none;
}
.inforBlocks#paginationBlocks .pagination li a.active {
    color: #ffffff;
    background-color: #f5812c;
}
.inforBlocks .keywordBlocks {
    float: left;
}
.inforBlocks .keywordBlocks span {
    font-size: 16px;
    float: left;
}
.inforBlocks .filter-option {
    float: right;
}
.inforBlocks .filter-option select#search-sortOption {
    border: none;
    background: #f5812c;
    padding: 0 5px;
}

div#searchResultBlocks {
    margin: 0;
    padding: 0;
}
div#searchResultBlocks ul.searchItemsBlock {
    padding: 0;
    margin-top: 25px;
    margin-right: -25px;
}
div#searchResultBlocks ul li.searchResult-item {
    margin-bottom: 25px;
    padding: 0 25px 0 0;
    list-style: none;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper {
    box-shadow: 3px 3px 9px -2px;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info {
    padding-left: 23px;
    color: #333333;
    background-color: #fff;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-header {
    padding-top: 15px;
    font-weight: bold;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-header .biz-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    color: #f79a56;
    float: left;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-header .biz-name-icon {
    width: 35px;
    height: 38px;
    margin-right: -11px;
    background-image: url(img/biz-name-icon.png);
    float: right;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-name-divider {
    margin: 5px 30px 5px 0;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info p {
    padding-left: 25px;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-addressBlocks {
    background-image: url(img/biz-address-icon.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-phoneBlocks {
    background-image: url(img/biz-phone-icon.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}
div#searchResultBlocks ul li.searchResult-item div.item-wrapper .biz-info .biz-noteBlocks {
    background-image: url(img/biz-note-icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
div#searchResultBlocks .actions {
    background-color: #e3e3e3;
    border-top: solid 2px #b3b3b3;
    padding: 15px 20px 15px 0;
    height: 60px;
}
div#searchResultBlocks .actions ul.action-link-blocks {
    height: 26px;
    float: left;
    padding-left: 15px;
}
div#searchResultBlocks .actions ul.action-link-blocks li {
    list-style: none;
    float: left;
}
div#searchResultBlocks .actions ul.action-link-blocks li a {
    padding: 3px 10px;
    float: left;
}
div#searchResultBlocks .actions ul.action-link-blocks li a + .tooltip > .tooltip-inner {background-color: #f5812c;}
div#searchResultBlocks .actions ul.action-link-blocks li a span {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url(img/biz-actions-icons.png);
    background-repeat: no-repeat;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-friend {
    background-position-x: 0;
    background-position-y: 0;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-friend:hover {
    background-position-y: -21px;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-url {
    background-position-x: -23px;
    background-position-y: 0;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-url:hover {
    background-position-y: -21px;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-map {
    background-position-x: -46px;
    background-position-y: 0;
}
div#searchResultBlocks .actions ul.action-link-blocks li a span.biz-map:hover {
    background-position-y: -21px;
}
div#searchResultBlocks .actions ul.action-link-blocks li span.action-divider {
    font-size: 23px;
    margin-top: -6px;
    color: #f5812c;
    float: left;
}

div#searchResultBlocks .actions div.action-buttons {
    float: right;
}
div#searchResultBlocks .actions div.action-buttons input.action-button {
    background-color: #f5812c;
    background-image: url(img/biz-action-button-bg.png);
    background-position-x: 7px;
    background-position-y: 4px;
    border: none;
    border-radius: 3px;
    padding: 2px 5px 2px 25px;
    background-repeat: no-repeat;
    font-size: 14px;
    color: white;
}


.searchBlocks{
    background: #444446;
    padding: 23px;
    margin-bottom: 30px;
}
.searchBlocks .searchOrangeBlock{
    background: #f5812c;
    height: 58px;
    line-height: 58px;
}
.searchBlocks .searchLink {
    color: #ffffff;
    font-size: 14px;
}
.searchBlocks .searchLink:hover{
    text-decoration: underline;
}
.searchBlocks .searchBtn{
    background: url('img/search.png') 0 0 no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    margin: 20px 5px 0 12px;
}
.searchBlocks .dayreel-input{
    border: none;
    border-radius: 0;
    height: 58px;
    padding: 10px 16px;
    background-color: #ffffff;
    width: 100%;
}

.searchBlocks .whiteTriangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #ffffff;
    margin: 13px 20px 0 0 ;
}

.videoWrapper{
    max-width: 456px;
    position: relative;
}
.videoWrapper img,
.videoWrapper video,
.videoWrapper iframe{
    width: 100%;
}
.howItWorks{
    background: #f5812c;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
.howItWorks:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 129, 44, 0);
    border-top-color: #f5812c;
    border-width: 14px;
    margin-left: -14px;
}
.homeList{
    -webkit-padding-start: 0;
    background: url(img/list.png) top left no-repeat;
    list-style: none;
}
.homeList-li{
    height: 75px;
    display: block;
}
.homeList-round{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 10px 22px 0 11px;
    background: transparent;
    border-radius: 50%;
}
.homeList-li:hover  .homeList-round{
    background: #f5812c;
}

.homeList-bigText{
    font-size: 18px;
}
.homeList-smallText{
    font-size: 12px;
}

.btnInstall{
    height: 57px;
    line-height: 57px;
    color: #fff;
    padding: 0 30px 0 102px;
    border-radius: 20px;
    background: url(img/installBtn.png) 30px 8px #f5812c no-repeat;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}

@media only screen 
and (min-width : 240px)
and (max-width: 320px){

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 240px)
and (max-width: 320px)
and (orientation:portrait){

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .signupLink,.signupLink:hover, .dateBlock{
        font-size: 12px;

    }
    .logoText{
        font-size: 12px;
    }
    .openOverlayLink {
        margin: 20px 0 0 0px;
    }
    .logoImg{
        width: 150px;
    }
    .closeOverlayLink{
        margin:47px 0 0 270px;
    }
    .homeList{
        margin: 30px 0 0 0;
    }
    .homeList-bigText{
        font-size: 15px;
    }
      .homeList-text{
        /*width: 381px;*/
       
        width: 81% !important;
    }

}
@media only screen 
and (min-width : 480px) 
and (max-width : 640px) {
    .homeList{
        margin: 30px 0 0 0;
    }
    .hidden-480{
        display: none;
    }
     .homeList-text{
        /*width: 381px;*/
       
        width: 81%;
    }
}

@media only screen 
and (min-width : 600px) 
and (max-width : 800px) {

}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .signupBlock {
        width: auto !important;
    }
    .dateBlock{
        padding: 0;
    }
        .homeList-text{
        /*width: 381px;*/
       
        width: 81% !important;
    }
    .homeList-round {
        margin-right: 11px;
    }
    .homeList-bigText{
        font-size: 11px;
    }
}

@media (max-width: 767px)  {
    .logoText{
        font-size: 12px;
    }
    .logoImg{
        width: 150px;
    }

    .signupLink,.signupLink:hover, .dateBlock{
        font-size: 12px;
    }
    .signupLink, .signupLink:hover, .signupLink:visited,
    .signupLink:active, .signupLink:focus{
        float: left;
    }
    .signupBlock{
        width: 132px;
        margin-left: -20px;
    }
    .dateBlock{
        float: right;  
    } 
    .noPadding-small{
        padding: 0;
    }

    .searchInputWrapper{
        padding: 0;
    }
    .searchOrangeBlock{
        padding: 0;
        margin: 10px 0 0 0;
    }
    .searchBlocks{
        padding: 10px;
    }

    .container {
    }
    #footer ul {
        margin-left: 0;
    }
    .searchLink{
        margin-left: 20px;
    }
    .signupBlock{
        padding-left: 0;
    }
    .topMenuLink, .topMenuLink:hover{
        font-size: 12px;
        height: 14px;
        margin: 0 7px 0 0 ;
    }
 .homeList-text{
        /*width: 381px;*/
       
        width: 87%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logoText{
        font-size: 12px;
    }
    .signupBlock{
        margin: 22px 0;
    }
    .searchInputWrapper{
        padding: 0;
    }
    .searchOrangeBlock{
        padding: 0;
    }
    .noPadding-middle{
        padding: 0;
    }
    .portfolio-header{
        font-size: 14px;
        margin: 26px 0 8px 0;
    }
    .leftPadding{
        padding: 0 0 0 10px !important;

    }
    .homeList-round {
        margin: 10px 13px 0 11px;
    }
    .homeList-bigText{
    }
    .homeList-smallText{
    }
    .homeList .homeList-li:last-child{
        height: 60px;
    }
    .portfolio-item-wrapper{
        padding: 0;
    }
    .homeList {
        margin: 0 0 0 8px !important;
    }
    .btnInstall {
        margin: 26px 0 0 10px;
    }
    #footer ul {
        margin-left: 0;
    }
      .homeList-text{
        /*width: 381px;*/
       
        width: 87%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:portrait){
    .homeList {
        margin: 25px 0 0 0 !important;
    }
    .leftPadding{
        padding: 0 !important;
    }
    .portfolio-header {
        font-size: 24px;
        margin: 26px 0 15px 0;
    }

}
@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:landscape){
    .homeList {
        margin: 0 0 0 8px !important;
    }
    .homeList-bigText{
        font-size: 13px;
        /*border: 1px solid red;*/
    }
    .signupBlock {
        /*        padding: 20px 82px 0 0 !important;*/
        margin-top: 0;
    }
    .btnInstall{
        margin: 26px 0 0 64px !important;
    }
    .hidden-lanscape1024{
        display: none;
    }
     .homeList-text{
        /*width: 381px;*/
       
        width: 87%;
    }
}

@media (min-width: 992px) {
    .noPadding-desktop{
        padding: 0;
    }
    .dateBlockText{
        display: inline-block;
        margin: 38px 10px 0 0;
    }
    .dateBlock{
        margin: -17px 0 0 0;
    }
    .signupBlock{
        padding: 20px 82px 0 0 ;
        margin-bottom: -12px;
    }
    .container {
        width: 970px;
    }
     .homeList-text{
        /*width: 381px;*/
       
        width: 87%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .homeList{
        margin: 0 0 0 10px;
        float: right;
    }
    .homeList-bigText {
        font-size: 15px;
    }
    .portfolio-blocks{
        padding-left: 0;
    }
    .portfolio-header{
        font-size: 16px;
        margin: 27px 0 24px 0;
    }
    .portfolio-item-slide{
        padding: 20px 7px 0;
    }
    .btnInstall{
        margin: 10px 0 0 50px;
    }

}
@media (min-width: 1200px) {
    .container {
        width: 940px;
        padding: 0;
    }
    .col-portfolio-item{
        width: 114px;
        margin: 0 8px 20px 9px;
    }
    .portfolio-blocks{
        padding: 0;
    }
    .homeList{
        float: right;
    }
    .btnInstall{
        margin: 10px 0 0 40px;
    }
  .homeList-text{
        /*width: 381px;*/
       
        width: 90%;
    }
}
