<div id="sb-site">
            <div class="clearfix">
                <div class="container noPadding-middle big-padding-bottom">
                    <div class="col-lg-8 col-md-8 col-md-push-4 col-lg-push-4 noPadding-desktfop noPadding-middle noPadding-small leftPadding">
                        <div class="menuBlocks menuBlocks-portfolioPage clearfix">
                            <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                                <a href="#" class="topMenuLink">
                                    Find Businesses
                                    <span class="menuDivider">|</span>
                                </a>
                            </div>
                            <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                                <a href="#" class="topMenuLink">
                                    Book Online
                                    <span class="menuDivider">|</span>
                                </a>
                            </div>
                            <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                                <a href="#" class="topMenuLink" >
                                    Share Referrals
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-md-pull-8 col-lg-pull-8 portfolio-blocks portfolio-blocks-page">
                        <div class="search-menuBlocks portfolio-breadcrums clearfix">
                            <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                                <a href="#" class="search-topMenuLink">
                                    Home
                                </a>
                                <span class="search-menuDivider">&lt;</span>
                            </div>
                            <div class="col-custom col-md-4 col-sm-4 col-xs-4" >
                                <a href="#" class="search-topMenuLink">
                                    Portfolio
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-md-push-4 col-lg-push-4 noPadding-desktfop noPadding-middle noPadding-small leftPadding">
                        <div class="searchBlocks  searchBlocks-portfolioPage clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noPadding-desktop noPadding-middle noPadding-small searchInputWrapper">
                                <input class="dayreel-input" type="text" value="" placeholder="What are you looking for? Hair, Lawn care, Cleaners...">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 noPadding-desktop searchOrangeBlock">
                                <div class="whiteTriangle  pull-left hidden-xs"></div> 
                                <a href="javascript:void(0);" class="pull-left searchLink">Kansas City?</a>
                                <button type="button" class="searchBtn pull-right"></button>

                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 noPadding-desktop noPadding-small">
                                <div class="scheduleWrapper">
                                    <div class="schedule-header">My Schedule</div>
                                    <div class="schedule-content clearfix">
                                        <div class="schedule-content-item">
                                            <div class="schedule-item-header">Today at a Glance</div>

                                            <div class="schedule-row">
                                                8:30 Yoga
                                            </div>
                                            <div class="schedule-row">
                                                11:30 Lunch w/ Greg
                                            </div>
                                            <div class="schedule-row">
                                                2:00 Oil change
                                            </div>
                                            <div class="schedule-row">
                                                5:00 Grant's band
                                            </div>
                                            <div class="schedule-row">
                                                7:00 Lance (basketball)
                                            </div>
                                        </div>


                                        <div class="schedule-content-item">
                                            <div class="schedule-item-header">Reminders</div>

                                            <div class="schedule-row">
                                                Deborah's birthday
                                            </div>
                                            <div class="schedule-row">
                                                Cookie drop off
                                            </div>
                                            <div class="schedule-row">
                                                PSAT testing
                                            </div>
                                        </div>



                                        <div class="schedule-content-item">
                                            <div class="schedule-item-header">Notes</div>

                                            <div class="schedule-row">
                                                (Print) (email) (test) (sync)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="schedule-footer">
                                        <div class="schedule-pagination">
                                            <span class="pagination-item pagination-active"></span>
                                            <span class="pagination-item"></span>
                                            <span class="pagination-item"></span>
                                            <span class="pagination-item"></span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 noPadding-dedsktop noPaddidng-small">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 calendar-wrapper clearfix ">
                                    <!--calendar widget must be there-->
                                    <%= image_tag "calendar.png", :alt => "" %>
                                    <!-- <img src="assets/css/img/calendar.png" alt="" /> -->
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 upload-wrapper clearfix">
                                    <span class="btn btn-file">
                                        + upload photo <input type="file">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-md-pull-8 col-lg-pull-8 portfolio-blocks portfolio-blocks-page">
                        <div class="portfolio-item-header">My portfolio</div>
                        <div class="portfolio-item-slide clearfix" >
                            <div class="col-custom col-sm-6  portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Donna</span>
                                        <span class="portfolio-item donna"></span>    
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper"> 
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Home</span>
                                        <span class="portfolio-item home"></span> 
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Ethan</span>
                                        <span class="portfolio-item ethan"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Grant</span>
                                        <span class="portfolio-item grant"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Lance</span>
                                        <span class="portfolio-item lance"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Riley</span>
                                        <span class="portfolio-item riley"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Car</span>
                                        <span class="portfolio-item car"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Dental</span>
                                        <span class="portfolio-item dental"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Health</span>
                                        <span class="portfolio-item health"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-custom col-sm-6 portfolio-item-wrapper">
                                <div class="col-portfolio-item">
                                    <a href="#">
                                        <span class="portfolio-name">Hair</span>
                                        <span class="portfolio-item hair"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="push"></div>